# Build results
bin/
obj/

# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Rider / VS Code
.idea/
.vscode/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Environment files
.env

# NuGet
*.nupkg
packages/

# Publish output
publish/

# Database files (optional)
*.mdf
*.ldf

# Resharper
_ReSharper*/
*.DotSettings.user

# Others
*.cache
*.tmp